@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background-color: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
  }
}

html {
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.images-marquee {
  animation: scroll-left 45s linear infinite;
}

.images-marquee:active {
  animation-play-state: paused;
}
